* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-items: center;
  /* height: 100vh; */
}

#hero {
  background-color: rgb(255, 255, 255);
  height: 620px;
  width: 500px;
  margin: 60px 0px;
  padding: 15px 50px;
  border: 2px solid #7d7d7d;
  box-shadow: 5px 5px 7px #7d7d7d;
}

img {
  padding-bottom: 25px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 10px;
}

#desc {
  padding: 10px 20px 10px 0;
  font-size: 1.1rem;
}

#status {
  padding: 10px 20px 10px 0;
  color: #004e03;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#status p:nth-child(1) {
  font-size: 1.2rem;
}

#fput {
  padding: 5px 0px 0px 0px;
}

.highlight {
  background-color: #ffff00;
}

/* defines the error class with styling (defined in script file)*/
.error {
  background-color: #ffe6e6;
  border: 2px solid #ff0000;
  animation: shake 0.5s;
  animation-iteration-count: 3;
}

#typed-value {
  width: 90px;
  font-size: 16px;
}

#start, #refresh {
  color: white;
  margin: 5px 0px;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

#start {
  /* visibility: hidden; */
  background-color: #4d1acc;
  background-color: #d40000;
  margin-left: 5px;
  margin-right: 2.5px;
}

#refresh {
  /* visibility: hidden; */
  background-color: #4CAF50;
  margin-left: 2.5px;
}

@media (max-width: 525px) {
  p {
    font-size: 1em;
  }
  h1 {
    font-size: 1.6em;
  }
  #start, #refresh {
    font-size: 10px;
  }
  img {
    width: 125px;
  }
}

/* defines shake animation */
@keyframes shake {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0px);
  }
}
